@use 'fonts';
@use 'colors';
@use 'section-common';
@use 'popup-window';

*, *::after, *::before {
  box-sizing: border-box;
}

#overlay {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: colors.$dark;
  opacity: 0.5;
  z-index: 9;
  // pointer-events: none;
}

#overlay.active {
  display: block;
}