@use 'colors';
@use 'fonts';

.popup {
  position: fixed; // TODO
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: none;
  background: #ffffff;
  width: 920px; // TODO change to max-width
}

.popup__content {
  padding: 56px 95px;
  // display: flex;
  // align-items: center;
}

.popup__title {
  font-size: 42px;
  line-height: 120%;
  // TODO make variable in fonts for weights
  font-weight: 700;
  padding-bottom: 24px;
}

.popup__msg {
  font-weight: 300px;
  font-size: 16px;
  line-height: 150%;
}

.close-button {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  background: none;
}

#overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: colors.$dark;
  opacity: 0.5;
  z-index: 9;
  pointer-events: none; // TODO might not be needed after moving element to js's wc
}

// #overlay.active {
//   pointer-events: all;
// }