@use 'colors';
@use 'fonts';
@use 'buttons';

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: none;
  background: #ffffff;
  width: 920px; // TODO change to max-width
}

.popup__content {
  padding: 56px 95px;
  // display: flex;
  // align-items: center;
}

.popup__title {
  font-size: 42px;
  line-height: 120%;
  font-weight: fonts.$heading-weight;
  padding-bottom: 24px;
}

.popup__msg {
  font-weight: 300px;
  font-size: 16px;
  line-height: 150%;
}

.close-button {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  background: none;
}